################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net7.0-windows7.0
/.vs
/bin
